
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> {{orphanage.name}} | HAPPY</title>
    <link rel="icon" href="/images/logo-icon.png" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/animations.css" />
    <link rel="stylesheet" href="/css/./sidebar.css" />
    <link rel="stylesheet" href="/css/map.css" />
    <link rel="stylesheet" href="/css/orphanage.css" />
    <link rel="stylesheet" href="/css/buttons.css" />
  </head>

  <body>
    <div class="page-orphanage-container">
      <aside class="aside-container animate-right">
        <img src="/images/map-marker.svg" alt="Happy" />

        <footer>
          <button class="button-back">
            <img src="/images/arrow-back.svg" alt="Voltar" />
          </button>
        </footer>
      </aside>

      <main class="animate-opacity width-sidebar">
        <div class="orphanage-details">
          <img src="{{orphanage.firstImage}}" alt="{{orphanage.name}}" />
          {{!-- link de imagens randomicas da galeria do unsplash --}}
          {{!-- <img src="https://source.unsplash.com/random" alt="orfanato" /> --}}

          <div class="images">
            {{#each orphanage.images}}
              <button class="button-miniature" type="button">
                <img src="{{this}}" alt="{{orphanage.name}}" />
              </button>
            {{/each}}
          </div>

          <div class="orphanage-details-content">
            <h1>{{orphanage.name}}</h1>
            <p>
             {{orphanage.about}}
            </p>

            <div class="map-container">
              <div class="mapid-container" id="mapid"></div>
              <span
              data-lat="{{orphanage.lat}}"
              data-lng="{{orphanage.lng}}">
              </span>
              <footer>
                <a target="_blank" href="https://maps.google.com/mobile?q={{orphanage.lat}},{{orphanage.lng}}&z=15">Ver rotas no Google Maps</a>
              </footer>
            </div>

            <hr />
            <h2>Instruções para Visita</h2>
            <p>{{orphanage.instructions}}</p>

            <div class="open-details">
              <div class="hour">
                <img src="/images/clock.svg" alt="horários" />
                <p>{{orphanage.opening_hours}}</p>
              </div>

              {{#if orphanage.open_on_weekends }}
                <div class="open-on-weekends open">
                  <img src="/images/info.svg" alt="informações" />
                  <p>Atendemos fim de semana</p>
                </div>
              {{else}}
                <div class="open-on-weekends closed">
                  <img src="/images/info-red.svg" alt="informações" />
                  <p>Não atendemos fim de semana</p>
                </div>
              {{/if}}
            </div>

            <a target="_blank" 
              href="https://api.whatsapp.com/send?1=pt_BR&phone={{orphanage.whatsapp}}&text=Entre em contato conosco e faça a alegria de muitas crianças!! Estamos contando com vocês."
              class="primary-button" type="button">
              <img src="/images/whatsapp.svg" alt="chamar no whatsapp" />
              <p>Entrar em contato</p>
            </a>
          </div>
          
        </div>
      </main>
    </div>
    <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>
    <script src="/scripts/orphanage.js"></script>
  </body>
</html>
